<!DOCTYPE html>
<html lang="sk">
  <head>
    <%- include('./templates/meta.ejs')-%>
    <title>OSA Virtual Challenge</title>
  </head>
  <body>
    <header class="page-header page-header--bg-homepage">
      <div class="l-page-container">
        <%- include('./templates/nav.ejs')-%>
        <section class="text-center py-8">
          <h1 class="page-header__headline">
            Niečo sa <span class="no-wrap">pokazilo :(</span>
          </h1>
          <a href="/" class="button">Spať na hlavnú stránku</a>
        </section>
      </div>
    </header>
    <%- include('./templates/footer.ejs') -%> <%-
    include('./templates/scripts.ejs') -%>
  </body>
</html>
