<!DOCTYPE html>
<html lang="sk">
  <head>
    <%- include('./templates/meta.ejs')-%>
    <title>OSA Virtual Challenge</title>
  </head>
  <body>
    <header class="page-header page-header--bg-homepage">
      <div class="l-page-container">
        <%- include('./templates/nav.ejs')-%>
        <div class="py-4 text-center">
          <section>
            <h1 class="page-header__headline">
              Ochrana osobných údajov
              <span
                class="headline-underline headline-underline--centered"
              ></span>
            </h1>
          </section>
        </div>
      </div>
    </header>
    <main>
      <section class="bg-basic py-4">
        <div class="l-page-container">
          <p>
            OSA – ŠPORTOVÁ AKADÉMIA (ďalej Prevádzkovateľ) spracúva osobné údaje
            v súlade s GDPR – Nariadenie Európskeho parlamentu Rady EÚ 2016/679
            (ďalej len Nariadenie) a zákonom č. 18/2018 o ochrane osobných
            údajov (ďalej len Zákon) s platnosťou od 01.01.2017 a Všeobecnými
            podmienkami pre podujatia OSA CHALLENGE.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            I. Identifikačné údaje prevádzkovateľa
          </h2>
          <p>
            OSA – ŠPORTOVÁ AKADÉMIA o.z., Pod hájom 1097/97, 018 41 Dubnica nad
            Váhom, IČO: 42 281 857, zapísané na Ministerstve vnútra Slovenskej
            republiky, číslo spisu: VVS/1-900/90-42406
          </p>

          <h2 class="heading-small mt-2 mb-1">
            II. Osobné údaje, ktoré spracúvame
          </h2>
          <p>
            Meno, priezvisko, dátum narodenia, pohlavie, adresa (ulica, PSČ,
            mesto, štát), klub, e-mail, telefónny kontakt, informácia o stave
            registrácie, dátum a čas registrácie, dátum a čas prezentácie, dátum
            a stav platby, pridelené štartovné číslo, výsledné umiestnenie a
            výsledný čas účastníka, vygenerovaný variabilný symbol, fotografie,
            videozáznamy, audiozáznamy.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            III. Získavanie osobných údajov
          </h2>
          <p>
            Osobné údaje získavame priamo od dotknutých osôb prostredníctvom
            komunikačných nástrojov: založenie účtu účastníka na webovej stránke
            prevádzkovateľa, registrácia na jednotlivé podujatia; prihlásenie na
            odber newsletterov, marketingových správ; priama písomná,
            telefonická, osobná alebo elektronická komunikácia; Osobné údaje
            tretích osôb, ktoré nám poskytnete. Ak nám poskytujete osobné údaje
            tretích osôb (napr. registrujete na podujatie svojich priateľov,
            známych…), je vašou povinnosťou informovať o tom dotyčnú osobu a
            zaistiť si jej súhlas s týmito podmienkami ochrany osobných údajov.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            IV. Na aké účely spracovávame osobné údaje
          </h2>
          <p>
            <strong>a) Účet účastníka</strong><br />
            Slúži najmä na to, aby sa užívateľ mohol zaregistrovať na všetky
            podujatia, ktoré organizujeme. Zároveň poskytuje užívateľovi prehľad
            o všetkých jeho predchádzajúcich i súčasných registráciách na
            podujatia. Umožňuje užívateľovi upravovať svoj profil na účte. Ak
            nám pri založení účtu užívateľ poskytne svoje kontaktné údaje,
            môžeme mu zasielať informácie o našej činnosti a podujatiach a
            službách, ktoré pripravujeme. Poskytnuté údaje môže užívateľ
            kedykoľvek zmeniť, s výnimkou e-mailovej adresy, ktorá slúži pre
            prístup do účtu účastníka. Pre tento účel sú spracúvané kontaktné
            údaje: meno, priezvisko, adresa, e-mail, telefónne číslo.
          </p>
          <p>
            <strong>b) Účasť na podujatiach, ktoré organizujeme</strong><br />
            Osobné údaje pre tento účel sú spracúvané predovšetkým, aby sme
            komplexne zabezpečili účasť účastníka na podujatiach, na ktoré sa
            zaregistroval. Komplexné zabezpečenie zahŕňa: Spracovanie
            registrácie, evidenciu platieb Spracovanie a dodanie všetkých
            produktov a služieb, ktoré si účastník v rámci registrácie na
            podujatie objedná Správne zaradenie v rámci disciplín a rôznych
            výziev, ktoré sú súčasťou podujatia Pridelenie štartovného čísla
            Pridelenie variabilného symbolu, ktorý slúži pre prezentáciu
            účastníka na podujatie Príprava a spracovanie štartových a
            výsledkových listín Meranie a vyhodnotenie dosiahnutého času a
            umiestnenia na Podujatiach Zabezpečenie Informačného servisu
            registrovaným účastníkom a záujemcom o účasť na podujatiach
            Zverejnenie štartovej a výsledkovej listiny na webovej stránke
            Prevádzkovateľa, a v ďalších elektronických a printových médiách
            Zaslanie výsledného umiestnenia a času ako športového výkonu na
            poskytnuté kontaktné údaje Archivácia dosiahnutých výsledkov
            účastníkov podujatí Spracovanie a zverejnenie historických
            výsledkových listín podujatí Štatistické účely Účtovné a daňové
            účely Plnenie ostatných zákonných povinností Pre tento účel sú
            spracúvané najmä tieto osobné údaje: meno, priezvisko, dátum
            narodenia, pohlavie, štátna príslušnosť, klub, e-mail, telefónny
            kontakt, informácia o stave registrácie, dátum a čas registrácie,
            dátum a čas prezentácie, dátum a stav platby, pridelené štartové
            číslo, výsledné umiestnenie a výsledný čas účastníka, vygenerovaný
            variabilný symbol
          </p>
          <p>
            <strong>c) Starostlivosť o účastníkov podujatí</strong><br />
            Ak nás kontaktujete e-mailom alebo cez kontaktný formulár s
            akýmkoľvek dotazom, dávate nám tak dobrovoľný súhlas, aby sme Vás
            mohli kontaktovať. V tomto prípade využijeme Vašu e-mailovú adresu,
            meno a priezvisko. V prípade potreby môžeme od Vás požadovať ďalšie
            osobné údaje nevyhnutné pre vybavenia Vašej požiadavky.
          </p>
          <p>
            <strong>d) Marketing</strong><br />
            Marketingové správy posielame iba tomu, kto nám poskytol svoj
            súhlas. Súhlas je poskytovaný dobrovoľne, a to zaškrtnutím políčka
            vo formulári pri zakladaní účtu účastníka na našej webovej stránke.
            Z odberu týchto marketingových správ sa užívateľ môže odhlásiť
            upravením nastavenia svojho profilu, po prihlásení sa do svojho účtu
            účastníka alebo zaslaním e-mailu na našu adresu. Ak si užívateľ
            vytvorí viac účtov účastníka, v rámci ktorých uvedie rovnaké, alebo
            iné kontaktné údaje, môže dôjsť k tomu, že napriek odhláseniu z
            marketingu na jednom z účtov, zostane súhlas v inom z účtov
            nezmenený. V tomto prípade nie je v našich možnostiach zabrániť, aby
            boli marketingové správy aj naďalej zasielané, až kým si užívateľ
            neupraví nastavenia na všetkých ním vytvorených účtoch. Pre tento
            účel sú spracúvané kontaktné údaje: meno, priezvisko, adresa,
            e-mail, telefónny kontakt
          </p>

          <h2 class="heading-small mt-2 mb-1">
            V. Na akých právnych základoch spracúvame osobné údaje
          </h2>
          <p>
            Na základe oprávneného záujmu spracúvame osobné údaje pre komplexné
            zabezpečenie účasti užívateľa na podujatí, na ktoré sa
            zaregistroval. meno, priezvisko, dátum narodenia, pohlavie, štátna
            príslušnosť, klub, pridelené štartovné číslo, výsledné umiestnenie a
            výsledný čas účastníka, vygenerovaný variabilný symbol, obrazové a
            zvukové záznamy
          </p>
          <p>
            Plnenie zmluvy – aby sme mohli zabezpečiť zmluvné plnenie súvisiace
            s účasťou registrovaného na výzvach, ktoré organizujeme, vrátane
            dodania produktov a služieb, ktoré si v rámci registrácie na
            podujatie účastník objedná. Meno, priezvisko, adresa, e-mail,
            telefónny kontakt
          </p>
          <p>
            Súhlas so spracovaním osobných údajov – napr. pre účely zasielania
            marketingových oznámení a ponúk od nás a našich partnerov, alebo v
            prípade, ak poskytujeme vybrané kontaktné údaje tretím stranám
            (partnerom podujatia), ktorí Vás tak budú môcť kontaktovať za účelom
            poskytnutia výhod pri využití ich služieb, kúpe ich tovaru, a aby
            Vám mohli zasielať informácie o novinkách, akciách a ponúkaných
            výhodách, ktoré pripravujú. Osobné údaje, na ktorých spracúvanie sa
            vyžaduje súhlas dotknutej osoby, nebudeme bez tohto súhlasu
            spracúvať. Neudelenie súhlasu so spracovaním osobných údajov na
            marketingové účely sa podľa platnej právnej úpravy nevzťahuje na
            naše právo zasielať vám naše e-maily, súvisiace s vašou účasťou na
            podujatí, informácie o našej činnosti a informácie o nami
            pripravovaných akciách a podujatiach. Meno, priezvisko, adresa,
            e-mail, telefónny kontakt
          </p>

          <h2 class="heading-small mt-2 mb-1">
            VI. Ako dlho spracúvame osobné údaje
          </h2>
          <p>
            Osobné údaje sú spracovávané a uchovávané počas doby nevyhnutnej k
            zaisteniu všetkých práv a povinností vyplývajúcich zo zmluvy. Osobné
            údaje, ktoré sú nevyhnutné pre riadne poskytnutie služieb, resp. pre
            splnenie všetkých našich povinností, či už tieto povinnosti
            vyplývajú zo zmluvy medzi nami, či zo všeobecne záväzných právnych
            predpisov musíme spracovávať bez ohľadu na Vami udelený súhlas na
            dobu stanovenú príslušnými právnymi predpismi či v súlade s nimi.
            Údaje získané prostredníctvom účtu účastníka spracovávame po dobu
            využívania našich služieb, zvyčajne 5 rokov od posledného
            prihlásenia užívateľa na účet účastníka, alebo do zrušenia účtu
            účastníka na jeho žiadosť. Štartové a výsledkové listiny spracúvame
            a uchovávame neobmedzene z historických a štatistických dôvodov. V
            prípade spracúvania osobných údajov, ku ktorým bol udelený súhlas
            dotknutej osoby, budú osobné údaje spracované spravidla po dobu 5
            rokov, alebo do odvolania tohto súhlasu. (napr. odber marketingových
            správ) Tento súhlas je možné odvolať upravením nastavenia profilu na
            účte účastníka, alebo zaslaním e-mailu na info@osaacademy.sk. Všetky
            otázky týkajúce sa spracúvania osobných údajov nám môžete zaslať
            e-mailom na info@osaacademy.sk.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            VII. Informácia o spracovaní súborov cookies
          </h2>
          <p>
            Webové stránky Prevádzkovateľa používajú cookies. Na základe
            používania cookies Prevádzkovateľ môže napr. sledovať celkový počet
            návštevníkov na svojich webových stránkach. 
          </p><p>
            Cookies sú malé textové súbory a informácie, ktoré sú z webovej stránky ukladané na pevný
            disk počítača užívateľa a umožňujú webovej stránke pamätať si
            dôležité informácie, ktoré užívateľovi uľahčujú ďalšie používanie
            internetových stránok. Stránka si napríklad zapamätá prihlasovacie
            údaje užívateľa a pri ďalšom načítaní ich nemusí znova zadávať.
            Stránka používa dočasné a trvalé cookies. Dočasné sa uchovávajú v
            zariadení užívateľa kým nezavrie stránku. Trvalé zostávajú v
            zariadení do uplynutia svojej platnosti alebo ich vymazania. 
          </p>
          <p>
            Ak užívateľ nemá záujem cookies používať alebo chce, aby internetový
            prehliadač použitie cookies oznámil, musí si vo svojom internetovom
            prehliadači nastaviť príslušnú voľbu. Ak užívateľ zablokuje všetky
            cookies, nebude môcť využívať niektoré funkcie webových stránok.
          </p>

          <h2 class="heading-small mt-2 mb-1">VIII. Osobné údaje detí</h2>
          <p>
            Ako prevádzkovateľ spracúvame aj osobné údaje detí do 18 rokov, pre
            potreby registrácie na podujatia určené aj alebo len pre deti,
            spracovanie a zverejnenie štartových a výsledkových listín. Náš
            registračný systém vyžaduje u osôb mladších ako 18 rokov súhlas
            zákonného zástupcu, ktorý obsahuje meno, priezvisko, dátum
            narodenia, bydlisko, e-mail a telefónny kontakt zákonného zástupcu.
            Tieto osobné údaje sú spracúvané pre potreby a umožnenie účasti
            neplnoletej osoby na zvolenom podujatí.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            IX. Spracúvanie osobných údajov prostredníctvom Sprostredkovateľov
          </h2>
          <p>
            Osobné údaje poskytujeme sprostredkovateľom, ktorých spolupráca je
            nevyhnutná pre organizovanie a realizáciu podujatí. Údaje sú
            sprostredkovateľom poskytované v nevyhnutnom rozsahu, na základe
            zmluvy o spracovaní osobných údajov. Ide najmä o subjekty, ktoré
            poskytujú služby v oblasti IT, registrácie a prezentácie účastníkov
            podujatí, merania časov na podujatiach, spracovanie štartových a
            výsledkových listín podujatia, prípravy materiálov určených pre
            podujatie, informačnú službu počas a po podujatiach, ďalej subjekty,
            ktorých produkty a služby je možné objednávať v procese registrácie
            na podujatie, zložky záchranného a bezpečnostného systému podujatia.
            Osobné údaje sú subjektom poskytované taktiež na základe konkrétneho
            úkonu účastníka podujatia (napr. zakúpenie produktu alebo služby v
            procese registrácie na podujatie) alebo v prípade výnimočnej
            udalosti postihujúcej účastníka podujatia. V prípade, ak sú údaje
            týmto subjektom poskytované, je to iba v rozsahu nevyhnutnom pre
            poskytnutie služby v zodpovedajúcej kvalite v súlade s Nariadením.
          </p>
          <p>
            Pri využívaní súborov cookies sú odovzdávané údaje spoločnostiam:
            <ul>
              <li>Google Ireland Limited (registračné číslo: 368047), so sídlom Gordon House, Barrow Street, Dublin 4, Írsko; podmienky ochrany súkromia tejto spoločnosti sú dostupné tu: https://policies.google.com/technologies/ads</li>
              <li>Facebook Ireland Limited, so sídlom 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, D02 X525, Írsko; podmienky ochrany súkromia tejto spoločnosti sú dostupné tu: https://www.facebook.com/about/privacy</li>
            </ul>
          </p>
          <p>
            Spoločnosti, na zariadeniach ktorých sú uložené osobné údaje:
            <ul>
              <li>Websupport s.r.o. – registrátor domén a poskytovateľ e-mailových a
              hostingových služieb</li>
              <li>DigitalOcean – poskytovateľ cloudových služieb</li>
              <li>Mailchimp – poskytovateľ služby pre hromadné rozposielanie emailov</li>
            </ul>
          </p>
          <p>
            Prevádzkovateľ vyhlasuje, že pri výbere sprostredkovateľov dbal na
            ich odbornú, technickú, organizačnú a personálnu spôsobilosť a ich
            schopnosť zaručiť bezpečnosť spracúvaných osobných údajov.
            Prevádzkovateľ prehlasuje, že nebude poskytovať osobné údaje iným
            Sprostredkovateľom, ako tým, ktorí sú uvedení v článku IX.
            Sprostredkovateľ sa zaväzuje spracúvať osobné údaje len v rozsahu a
            za podmienok dojednaných v tomto poverení. Sprostredkovateľ je
            povinný zachovávať mlčanlivosť o osobných údajoch, ktoré spracúva.
            Povinnosť mlčanlivosti trvá aj po ukončení spracúvania osobných
            údajov.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            X. Zásady ochrany osobných údajov
          </h2>
          <p>
            v zmysle článku 13 a príslušných recitálov Nariadenia Európskeho
            parlamentu a Rady (EÚ) 2016/679 o ochrane fyzických osôb pri
            spracúvaní osobných údajov a o voľnom pohybe takýchto údajov (ďalej
            len „Nariadenie“) a zákona NR SR č. 18/2018 Z. z. o ochrane osobných
            údajov a o zmene a doplnení niektorých zákonov (ďalej len „zákon o
            ochrane osobných údajov“)
          </p>
          <p>
            Dotknuté osoby, o ktorých sú spracúvané osobné údaje v našich
            informačných systémoch pre konkrétne vymedzené účely si môžu
            uplatniť písomne alebo elektronicky nasledovné práva:
          </p>
          <p>
            Právo na prístup k osobným údajom – ide o právo získať potvrdenie o
            tom, či sa spracúvajú Vaše osobné údaje ako aj právo získať prístup
            k týmto údajom, a to v rozsahu účelov a doby spracúvania, výzvy
            dotknutých osobných údajov, okruhu príjemcov, o postupe v každom
            automatickom spracovaní, prípadne o následkoch takéhoto spracovania.
            Ako Prevádzkovateľ máme právo použiť všetky primerané opatrenia na
            overenie totožnosti dotknutej osoby, ktorá žiada o prístup k údajom,
            najmä v súvislosti s online službami a identifikátormi (článok 15,
            recitál 63, 64 Nariadenia).
          </p>
          <p>
            Právo na opravu nesprávnych a doplnenie neúplných osobných údajov
            (článok 16, recitál 65 Nariadenia).
          </p>
          <p>
            Právo na výmaz – „zabudnutie“ tých osobných údajov, ktoré už nie sú
            potrebné na účely, na ktoré sa získali a spracúvali; pri odvolaní
            súhlasu, na základe ktorého sa spracúvanie vykonáva; pri nezákonnom
            spracúvaní; ak sa osobné údaje získavali v súvislosti s ponukou
            informačnej spoločnosti (pri deťoch), a to za naplnenia podmienok
            uvedených v článku 17, recitál 65, 66 Nariadenia.
          </p>
          <p>
            Právo na obmedzenie spracúvania je možné uplatniť, ak ako dotknutá
            osoba napadnete správnosť osobných údajov a ostatných náležitostí v
            zmysle článku 18, recitálu 67 Nariadenia, a to formou dočasného
            presunutia vybraných osobných údajov do iného systému spracúvania,
            zamedzenia prístupu používateľov k vybraných osobným údajov alebo
            dočasné odstránenie spracúvania.
          </p>
          <p>
            Právo na prenosnosť osobných údajov je právo Vami poskytnuté osobné
            údaje do našich informačných systémov na základe súhlasu alebo
            plnenia zmluvy preniesť k ďalšiemu prevádzkovateľovi v
            štruktúrovanom, bežne používanom a strojovo čitateľnom formáte,
            pokiaľ je to technicky možné aj za naplnenia podmienok článku 20,
            recitálu 68 Nariadenia v prípade, ak sa spracúvanie vykonáva
            automatizovanými prostriedkami. Uplatňovaním tohto práva nie je
            dotknutý článok 17 Nariadenia. Právo na prenosnosť údajov sa
            nevzťahuje na spracúvanie nevyhnutné na splnenie úlohy realizovanej
            vo verejnom záujme alebo pri výkone verejnej moci zverenej nám ako
            Prevádzkovateľovi.
          </p>
          <p>
            Bez toho, aby boli dotknuté akékoľvek iné správne alebo súdne
            prostriedky nápravy, máte ako dotknutá osoba právo podať v zmysle
            článku 77 Nariadenia sťažnosť Úradu na ochranu osobných údajov SR,
            ak sa domnievate, že spracúvanie osobných údajov, ktoré sa Vás
            týkajú, je v rozpore s Nariadením alebo zákonom o ochrane osobných
            údajov. Ako dotknutá osoba máte tiež právo kedykoľvek namietať z
            dôvodov týkajúcich sa konkrétnej situácie proti spracúvaniu Vašich
            osobných údajov, taktiež ak je spracúvanie nevyhnutné na účely
            oprávnených záujmov, ktoré sledujeme ako prevádzkovateľ alebo tretia
            strana (okrem spracúvania vykonávanom orgánmi verejnej moci pri
            plnení ich úloh), s výnimkou prípadov, keď nad takýmito záujmami
            prevažujú Vaše záujmy alebo základné práva a slobody ako dotknutej
            osoby, ktoré si vyžadujú ochranu osobných údajov (najmä ak je
            dotknutou osobou dieťa).
          </p>
          <p>
            Ak sa osobné údaje spracúvajú na účely priameho marketingu, ako
            dotknutá osoba má právo kedykoľvek namietať proti spracovaniu Vašich
            osobných údajov, na účely takéhoto priameho marketingu vrátane
            profilovania v rozsahu, v akom súvisí s takýmto priamym marketingom.
          </p>
          <p>
            OSA ŠPORTOVÁ AKADÉMIA prijal ako prevádzkovateľ informačného systému
            všetky primerané personálne, organizačné a technické opatrenia za
            účelom maximálnej ochrany Vašich osobných údajov s cieľom v čo
            najväčšej miere znížiť riziko ich zneužitia, úniku a podobne. V
            zmysle našej povinnosti vyplývajúcej z článku 34 Nariadenia Vám ako
            dotknutým osobám oznamujeme, že ak nastane situácia, že ako
            prevádzkovateľ porušíme ochranu Vašich osobných údajov spôsobom,
            ktorým pravdepodobne povedie k vysokému riziku pre práva a slobody
            fyzických osôb, bez zbytočného odkladu Vám túto skutočnosť oznámime.
          </p>
          <p>
            UPOZORNENIE: z dôvodu dodržiavania zásady minimalizácie sú všetky
            Vami poskytnuté osobné údaje nevyhnutnou zákonnou alebo zmluvnou
            požiadavkou pre naplnenie účelu ich spracovania. Neposkytnutie
            povinných údajov nevyhnutných na uzatvorenie zmluvy môže mať za
            následok neuzavretie zmluvného vzťahu.
          </p>
          <p>
            V prípade akýchkoľvek otázok súvisiacich s ochranou Vašich osobných
            údajov, vrátane uplatnenia Vašich práv v zmysle Nariadenia a zákona
            o ochrane osobných údajov Vás prosíme, aby ste nás kontaktovali:
            E-mail: info@osaacademy.sk
          </p>
          <p>
            Vyhradzujeme si právo upraviť tieto Podmienky Ochrany osobných
            údajov, aby boli vždy v súlade s platnými právnymi predpismi, alebo
            ak dôjde k zmenám v nami ponúkaných službách. Nové podmienky ochrany
            osobných údajov budú pre vás platné pri najbližšej návšteve našej
            webovej stránky.
          </p>
        </div>
      </section>
    </main>
    <%- include('./templates/footer.ejs') -%> <%-
    include('./templates/scripts.ejs') -%>
  </body>
</html>
