<!DOCTYPE html>
<html lang="sk">
  <head>
    <%- include('./templates/meta.ejs')-%>
    <title>OSA Virtual Challenge</title>
  </head>
  <body>
    <header class="page-header page-header--bg-homepage">
      <div class="l-page-container">
        <%- include('./templates/nav.ejs')-%>
        <div class="py-4 text-center">
          <section>
            <h1 class="page-header__headline">
              Všeobecné podmienky
              <span
                class="headline-underline headline-underline--centered"
              ></span>
            </h1>
          </section>
        </div>
      </div>
    </header>
    <main>
      <section class="bg-basic py-4">
        <div class="l-page-container">
          <p>
            Tieto Všeobecné podmienky upravujú vzťahy medzi zmluvnými stranami,
            ktorými sú na jednej strane spoločnosť:
            <br />
            <span class="text-bold">
              OSA – ŠPORTOVÁ AKADÉMIA, o.z.<br />
              Pod hájom 1097/97<br />
              018 41 Dubnica nad Váhom<br />
              Slovensko<br />
              IČO: 42 281 857<br />
              DIČ: 2023988329<br />
            </span>
            ako Organizátor Podujatí (ďalej len „Organizátor“) a na strane
            druhej športovec/ športovkyňa ako fyzická osoba zúčastňujúc sa
            niektorej z virtuálnych alebo reálnych disciplín čiže podujatí
            (ďalej len „Účastník“), ktoré organizuje.
          </p>
          <p>
            Ďalej účelom týchto obchodných podmienok je vymedziť a upresniť
            práva a povinnosti predávajúceho (dodávateľa) na jednej strane a
            kupujúceho (zákazníka, spotrebiteľa) na strane druhej. Všetky
            zmluvné vzťahy medzi predávajúcim a kupujúcim sú uzatvorené v súlade
            s právnym poriadkom Slovenskej republiky. V prípade ak je zmluvnou
            stranou spotrebiteľ, riadia sa právne vzťahy neupravené týmito
            obchodnými podmienkami zákonom č. 40/1964 Zb. Občiansky zákonník v
            platnom znení, zákonom č. 250/2007 Z. z. o ochrane spotrebiteľa v
            platnom znení, zákonom č. 108/2000 Z. z. o ochrane spotrebiteľa pri
            domovom predaji a zásielkovom predaji v platnom znení. V prípade, ak
            je zmluvnou stranou podnikateľ, riadia sa právne vzťahy neupravené
            týmito obchodnými podmienkami, zákonom č. 513/1991 Zb. Obchodný
            zákonník v platnom znení.
          </p>

          <h2 class="heading-small mt-2 mb-1">
            I. Športové podujatie a jeho podmienky účasti a e-shop
          </h2>
          <p>Organizátorom športových eventov (ďalej len „Podujatí).</p>
          <p>
            Všeobecné obchodne podmienky sú platné pre všetkých zúčastnených
            Účastníkov na jednotlivých Podujatiach a to či už reálnych alebo
            virtuálnych. Organizátor ochotne zabezpečí výklad týchto podmienok
            na požiadanie.
          </p>
          <p>
            Na športovom Podujatí ako Účastník sa môže zúčastniť každý, kto
            spĺňa všetky požiadavky stanovené Organizátorom v týchto Všeobecných
            podmienkach a propozíciách vydaných k jednotlivým Podujatiam, alebo
            iných platných dokumentoch vydaných Organizátorom pre daný event,
            ako aj pre jednotlivé nesúťažné ale aj súťažné športové disciplíny.
          </p>
          <p>
            Organizátor si vyhradzuje právo stanoviť osobitné podmienky pre
            skupiny Účastníkov so špecifickým postavením ako sú napríklad
            zástupcovia sponzorov a partnerov, hostia, partnerské organizácie a
            podobne). Účelom týchto obchodných podmienok je vymedziť a upresniť
            práva a povinnosti predávajúceho (dodávateľa) na jednej strane a
            kupujúceho (zákazníka, spotrebiteľa) na strane druhej.
          </p>
          <h2 class="heading-small my-1">II. Základné pojmy a ich definícia</h2>
          <p>
            <ol>
              <li>Záväzné podmienky (ďalej len „Propozície“) – sú informácie a pokyny vydávané Organizátorom Podujatí na web stránke v písomnej forme alebo video forme pri popise Podujatia, ktoré sú záväzné pre splnenie účasti na Podujatí.</li>
              <li>E-shop – znamená počítačový program – internetová aplikácia, ktorá je dostupná v sieti Internet prostredníctvom internetovej adresy, ktorej hlavnou funkcionalitou je zobrazenie, výber a objednanie tovaru Užívateľom.</li>
              <li>Účastník Eventu (ďalej len „Účastník“) – je fyzická osoba alebo skupina osôb, ktorá spĺňa podmienky k účasti do jednotlivých (súťažných alebo nesúťažných) disciplín Podujatí.</li>
              <li>Event (ďalej len „Podujatie“) – je súťažné ale aj nesúťažné podujatie, ktorý má jasne definované svoje pravidlá a rozlíšiteľné parametre. Tieto parametre sú špecifikované dĺžkou trate, vyhodnocovaním výsledkov Podujatí, podmienkami účasti Účastníkov ale aj ďalšie informácie ktoré sú nevyhnutné na charakterizáciu Podujatí.</li>
              <li>On-line registrácia – je proces prihlásenia Účastníka sa na Podujatia pomocou elektronického prihlasovacieho formulára na web stránke Organizátora. Pri platbe On-line cez prihlasovací formulár na web stránke Organizátora je platba pripísaná okamžite po zaplatení, aj preto využívame len túto možnosť platby.</li>
              <li>Objednávka – je záväzný dokument vytvorený medzi Organizátorom Podujatia a Účastníkom Podujatia v procese On-line registrácie, ktorý obsahuje údaje o Účastníkovi, cenu za registráciu vrátane zvolených doplnkových služieb a údaje potrebné k uskutočneniu úhrady za takúto Objednávku.</li>
              <li>Prihláška – je elektronický dokument vytvorený po úspešnom vyplnení registrácie a odoslaní prihlasovacieho formulára v procese On-line registrácie. Po riadnom vyplnení prihlasovacieho formuláru vám systém automaticky ponúkne možnosť platby bankovým prevodom.</li>
              <li>Štartovné – je finančný poplatok, ktorý je stanovený Organizátorom v Propozíciách každého Podujatia, tento poplatok si uhrádza každý Účastník na bankový účet Organizátora ako súčasť procesu registrácie. Bez zaplatenia štartovného poplatku je registrácia NEPLATNÁ! Až po zaplatení štartovného v plnej výške Vám bude doručený potvrdzovací mail o úspešnej platbe. Až vtedy sa Účastník považuje za riadne prihláseného a jeho právny vzťah s Organizátorom a účasť na Podujatí je potvrdená (až momentom zaplatenia úplného štartového poplatku v plnej výške určenej Organizátorom v Propozíciách a jeho pripísania na účet organizátora).
                V tomto momente účastník spĺňa plnohodnotne všetky právne a formálne náležitosti stanovené Organizátorom Podujatia v Propozíciách. Pri problémoch s platbou kontaktujte info@osaacademy.sk .
                </li>
              <li>Štartovné a jeho možnosti platenia – Štartovné je možné zaplatiť iba bezhotovostne (bankovým prevodom) pri prihlásení sa on-line na Podujatie. V prípade reálnych podujatiach je možne sa prihlásiť na mieste v deň Podujatia (pokiaľ to nie je stanovené v Propozíciách Podujatia inak a pokiaľ nie je naplnený Účastnícky limit).</li>
              <li>Variabilný symbol – je automaticky vygenerované číslo systémom, ktoré je následne pridelené Účastníkovi pri On-line registrácii na Podujatie na web stránke Organizátora, zároveň slúžiace na identifikácie úspešnej platby Štartovného.</li>
              <li>Akceptácia štartu – je potvrdenie v podobe emailu o splnení podmienok úspešnej On-line registrácie a úspešnej platbe Štartovného poplatku vydané Účastníkovi odoslané Organizátorom.</li>
              <li>Prezentácia virtuálnych a reálnych Eventov a Podujatí – je proces, pri ktorých Organizátor oboznámi Účastníkom s pravidlami a Propozíciami konkrétneho Eventu na vopred určenom mieste (platí len pre reálne Podujatia) kde im poskytne ďalšie informácie, v prípade že bolo určené aj materiálne vybavenie definované v Propozíciách pre Účastníkov Podujatí.</li>
              <li>Termín štartu na reálnych Podujatiach – termín štartu je uvedený v Propozíciách Podujatí pre jednotlivé disciplíny. Podľa tohto údaju sa bude posudzovať splnenie termínov v osobitných prípadoch podľa týchto Všeobecných podmienok ako sú napríklad žiadosti Účastníka o zmeny vo svojej registrácii a pod.</li>
              <li>Termín štartu na virtuálnych Podujatiach – Termín štartu na virtuálnych Podujatiach si určí každý Účastník sám. Podľa svojho svedomia a najlepšieho uváženia, počasia a zdravotného stavu. Ohlásenie neúčasti alebo výmena pretekára: V prípade oznámenia neúčasti na Podujatí zo zdravotných dôvodov, je povinný Účastník doložiť doklad od ošetrujúceho doktora. Následne Organizátor Podujatia navrhne Účastníkovi iné Podujatie prípade po dohode prepísanie On-line registrácie na iného Účastníka.</li>
            </ol>
          </p>

          <h2 class="heading-small my-1">III. Registrácia na Podujatia</h2>
          <p>
            Jediným možný spôsobom pre registráciu na Podujatia je On-line registrácia web stránke Organizátora. On-line registráciou na Podujatie vzniká zmluvný vzťah medzi Organizátorom Podujatia a fyzickou osobou definovanou ako Účastník Podujatia. Súčasťou On-line registrácie na uvedenej web stránke Organizátora je platobný systém určený na úhradu účastníckeho poplatku (ďalej len „Štartovné“). Po úspešnej On-line registrácií a zaplatený Štartovného poplatku je vygenerovaná elektronická Prihláška Účastníka, ktorá je zo strany Organizátora potvrdená emailom v podobe Akceptácia štartu s faktúrou o zaplatení Štartovného poplatku. Túto Akceptáciu štartu Účastník získa, pokiaľ Prihláška obsahuje všetky povinné údaje, a tie sú v zhode s podmienkami účasti a je v plnej výške uhradené Štartovné za konkrétne Podujatie.
Registrácia priamo v deň Podujatia v mieste Prezentácie je možná, pokiaľ to nie je stanovené v Propozíciách Podujatia inak a pokiaľ nie je naplnený Účastnícky limit (platí len pri reálnom Podujatí).
          </p>
          <p>Organizátor má právo vopred, počas prebiehania On-line registrácie Účastníkov Podujatia, v prípade potreby zmeniť limit počtu registrovaných Účastníkov v jednotlivých disciplínach Podujatí a to z kapacitných, bezpečnostných, logistických alebo iných dôvodov. Organizátor ma taktiež právo kedykoľvek registráciu ukončiť alebo upraviť termín jej ukončenia. Taktiež ma Organizátor právo úplného zrušenia Podujatia, v takomto prípade Účastníkovi nevzniká žiadna náhrada škody v podobe vráteného Štartovného poplatku za zrušene Podujatie.</p>
          <p>Riadne vyplnené elektronické Prihlášky Účastníkov Podujatí sú zoradené do databáz v poradí, v akom boli Účastníci Podujatia registrovaný. Každý Účastník ma právo dobrovoľne sa zaregistrovať na ľubovoľný počet Eventov.</p>
          <p>Pre osoby mladšie ako 18 rokov je však na účasť na Eventoch nevyhnutný elektronický písomný súhlas zákonného zástupcu, ktorý je potrebné vyplniť počas vykonania On-line registrácie.
            V opačnom prípade registrácia mladistvého je NEPLATNÁ!
          </p>

          <h2 class="heading-small my-1">
            IV. Platnosť a akceptovanie prihlášky na Podujatia
          </h2>
          <p>
            Prihláška, ktorá nie je uhradená alebo ktorá nemá uhradené Štartovné v plnej výške, ktorého výška Štartovného poplatku je určená v Propozíciách pre konkrétne Podujatie (uhradením sa rozumie pripísaní finančných prostriedkov na bankový účet Organizátora) je neúplná. Organizátor ma plné právo takúto Prihlášku NEAKCEPTOVAŤ.
          </p>
          <p>
            Ďalej má Organizátor plné právo neakceptovať Prihlášku a neumožniť štart na Podujatiach, a to aj v prípade uhradenia Štartovného ak:
<br />a) Účastník uviedol v Prihláške neúplné, nepresné, klamlivé alebo nepravdivé údaje.
<br />b) Účastník bol v minulosti na Podujatiach diskvalifikovaný alebo sa správal nevhodným spôsobom, alebo znepríjemňoval iným Účastníkom účasť na Podujatí.
<br />c) Účastník svojim správaním v minulosti preukázateľne konal v rozpore s týmito Všeobecnými podmienkami alebo Propozíciami Podujatí.
<br />V prípade že akéhokoľvek vylúčenia spomenutého a popísaného v bodoch vyššie, Účastníkovi nevzniká žiaden nárok na vrátenie Štartovného poplatku, prípadne inej náhrady škody či už materiálnej alebo finančnej.
          </p>
            

          <h2 class="heading-small my-1">
            V. Prenosnosť údajov v registrácií a podmienky získania medaile
          </h2>
          <p>
            Účasť vzniká jedine Účastníkovi, a to splnením všetkých podmienok registrácie na Podujatia. Organizátor pridelí Účastníkovi jeho jedinečné štartové číslo, toto štartové číslo pridelené Účastníkovi Podujatia je neprenosné na inú osobu. V prípade porušenia tohto ustanovenia Všeobecných podmienok sa osoba/osoby, ktorým bude toto porušenie preukázané budú okamžite diskvalifikovaný v danom Podujatí a ich účasť na Podujatiach v budúcom období je len na zvážení Organizátora. Pre získanie medaily za danú výzvu je účastník povinný poslať dôkaz svojho úspechu v podobe súboru gpx. alebo fotografiu s aplikácie pripadne fotografiu, kde je zaznamenaný dátum, prekonaná vzdialenosť a uplynutý čas počas prekonávania Podujatia. Akceptujeme Vám akúkoľvek aktivitu, ktorou absolvujete Podujatie ako beh, cyklistiku, na kolieskových korčuliach, na kolobežke, v prípade detí aj na odrážadle, alebo aj ako dog running, či beh na bežeckom páse a podobne. Akceptujeme fyzickú aktivitu vždy vyplývajúcu z propozícií a charakteru podujatia. V prípade otázok je potrebne kontaktovať Organizátora. Takto nahranú fotku je potrebne odoslať na schválenie Organizátorovi, ktorý po schválení nahratej fotografie označí účastníkovi fotku za schválenú, to znamená, že Účastník úspešne dokončil vybrané Podujatie.
          </p>

          <h2 class="heading-small my-1">
            VI. Štartovné, iné platby v e-shope a potvrdenia
          </h2>
          <p>
            Platba štartovného ako aj základné sadzby Štartovného pre jednotlivé Eventy a disciplíny sú určené Organizátorom v Propozíciách Podujatia. Výška Štartovného na Podujatiach závisí od Vami zvolenej disciplíny. Účastník je povinný Štartovné uhradiť v takej výške. K štartovnému môžu byť v procese registrácie pripočítané ďalšie doplnky, pokiaľ si Účastník vyberie v procese On-line registrácie doplnkové služby, alebo tovar. V takomto prípade je Účastník povinný hradiť jednou platbou celú vyrátanú sumu. Pri zaplatení Štartovného v inej (rozumej nižšej) výške sumy ako je suma predpísaná v Propozícia Podujatia, považuje Organizátor takúto Prihlášku za neplatnú a môže ju z ďalšieho procesu registrácie vylúčiť. Organizátor neumožňuje jednou platbou možnosť uhradiť štartovné za viacerých Účastníkov Podujatia.
          </p>
          <p>Platba bezhotovostný spôsobom je jedením spôsobom platby Štartovného počas On-line registrácie Účastníka Podujatí a garantuje mu bezpečnú platbu s minimálnym rizikom omylu (zle zadaný VS, alebo chýbajúce poznámky, zlá výška Štartovného poplatku a podobne) počas platby.</p>
          <p>Platba v hotovosti je možná len na reálnych Podujatiach (pokiaľ to nie je stanovené v Propozíciách Podujatia inak a pokiaľ nie je naplnený Účastnícky limit).</p>
          <p>Všetky potvrdenia sú generované plne automaticky a automaticky sú odosielané na e-mailové adresy zadané Účastníkom v procese On-line registrácie. Potvrdenie o prihlásení na Podujatie je potvrdením o úspešnej platbe a registrácii Účastníka na Podujatie vo zvolenej disciplíne. Zároveň email obsahuje informácii o zvolenej výzve a prípadne všetkých doplnkových službách a tovaroch, ktoré si Účastník sám objednal v procese registrácie. V prílohe emailu je potvrdenie o prijatej platbe (faktúra- daňový doklad) o zaplatený štartovného na Podujatie, ktorá je generovaná po spárovaní platby s Objednávkou a je automaticky odosielaný na email Účastníka ktorý bol zadaný pri registrácii. Organizátor nemá povinnosť vydávať iné druhy potvrdení na základe individuálnych požiadaviek Účastníkov.</p>

          <h2 class="heading-small my-1">
            VII. Zrušenie Podujatia prípadne jeho presun
          </h2>
          <p>
            V prípade zrušenia Podujatia Organizátor ponúkne Účastníkovi inú alternatívu Podujatia, za zrušené Podujatie. V prípade že Účastník túto ponuku odmietne, Organizátor je povinný Účastníkovi za zrušené,1 alebo presunuté podujatie vrátiť Štartovné. Registrovaný účastník, ktorý sa výzvy nezúčastní, stráca nárok na vrátenie štartovného poplatku. Registrovaný Účastník môže oficiálne požiadať o presun štartu na Podujatie, prípadne na inú osobu. Presun štartovného na iné Podujatie alebo na inú osobu sa posudzuje individuálne. Organizátor nie je povinný takejto žiadosti vyhovieť. Pokiaľ Účastník nedodrží termín a podmienky v Propozíciách Podujatia, možnosť presunu štartu alebo presunu na inú osobu mu automaticky zaniká. Presunom štartovného na inú osobu t.j. nového Účastníka sa presúva aj zaplatené Štartovné ako aj všetky ďalšie už zaplatené poplatky a s nimi spojené nároky.
          </p>

          <h2 class="heading-small my-1">VIII. Komunikácia medzi Organizátorom a Účastníkom</h2>
          <p>
            Spôsob komunikácie medzi Organizátorom a Účastníkom je primárne prostredníctvom emailu, pripadne sociálnych sieti, ale aj v prípade potreby telefonicky. Organizátor informuje Účastníka o všetkých novinkách, zásadných zmenách Podujatia zasielaním správ na jeho e-mailovú adresu, ktorú zadal pri On-line registrácii.
          </p>

          <h2 class="heading-small my-1">
            IX. Bezpečnosť Účastníkov
          </h2>
          <p>
            Organizátor si vyhradzuje právo zrušiť alebo prerušiť konanie Podujatia (platí iba pri reálnych podujatiach) v prípade vážneho nebezpečenstva (extrémny výkyv počasia , nebezpečenstvo ohrozenia alebo a iné vopred nepredvídateľné udalosti a okolnosti), ktoré by mohli ohroziť zdravie a bezpečnosť Účastníkov, divákov a členov Organizačných tímov. Organizátor zabezpečí organizačné a bezpečnostné pokyny týkajúce sa účasti na Podujatí pre Účastníkom Podujatia detailne rozpísané v Propozíciách Podujatia a to zrozumiteľným spôsobom Každý Účastník Podujatí je povinný v rámci vlastnej bezpečnosti a bezpečnosti iných Účastníkov tieto pokyny a opatrenia z nich vyplývajúce dodržiavať.
          </p>
          <p>Každý Účastník Podujatia je povinný rešpektovať a dodržiavať pokyny označených členov Organizačného tímu OSA CHALLENGE a Usporiadateľov Podujatia počas celej doby trvania Podujatia. Používanie pomôcok, ktoré môžu zvýhodňovať Účastníka, alebo akéhokoľvek technického vybavenia, ktoré môže ohrozovať bezpečnosť Účastníkov a divákov je zakázané.</p>

          <h2 class="heading-small my-1">X. Vylúčenie zodpovednosti</h2>
          <p>
            V prípade, že je Organizátor nútený z nepredvídateľných dôvodov (počasie, terorizmu, pandémia alebo inej nebezpečné hrozby) ešte pred začiatkom (štartom) Podujatia, alebo už v jeho priebehu celé podujatie zrušiť. Je na zodpovednosti každého Účastníka, aby si zabezpečil príslušnú zdravotnú prehliadku, získal informácie o svojom zdravotnom stave v súvislosti s rozhodnutím zúčastniť sa akejkoľvek disciplíny na Podujatí. Každý Účastník sa zúčastňuje na Podujatiach dobrovoľne a s vedomím si svojho zdravotného stavu. Každý Účastník Podujatí je povinný si individuálne zabezpečiť a uzavrieť minimálne zmluvu o zdravotnom poistení, či iné druhy poistenia podľa vlastného uváženia.
          </p>

          <h2 class="heading-small my-1">XI. Ochrana osobných údajov a s tím súvisiace procesy</h2>
          <p>
            Organizátor spracováva osobné údaje Účastníkov v súlade s Nariadením Európskeho parlamentu Rady EÚ 2016/679 (GDPR) a zákonom č. 18/2018 o ochrane osobných údajov.
          </p>
          <p>
            Organizátor prehlasuje, že všetky osobné údaje sú dôverné a budú použité iba k uskutočneniu plnenia podľa Objednávky vystavenej na strane Účastníka a potvrdenej na strane Organizátora, na informovanie Účastníka o ďalších krokoch a aktivitách Organizátora a jeho zmluvných partnerov v rámci projektu Podujatí.
          </p>
          <p>
            Podmienky pre spracovávanie osobných údajov a špecifikácie konkrétnych osobných údajov Účastníkov sú obsiahnuté tu: <a href="/gdpr">Ochrana osobných údajov</a>.
          </p>

          <h2 class="heading-small my-1">XII. Záverečné a osobitné ustanovenia</h2>
          <p>
            Na vzťahy neupravené týmito Obchodnými a reklamačnými podmienkami sa vzťahujú príslušné ustanovenia Občianskeho zákonníka, zákona č. 22/2004 Z.z. o elektronickom obchode a o zmene a doplnení zákona č. 128/2002 Z.z. o štátnej kontrole vnútorného trhu vo veciach ochrany spotrebiteľa a o zmene a doplnení niektorých zákonov v znení zákona č. 284/2002 Z.z. v znení neskorších predpisov a Zákona č. 102/2014 Z.z. o ochrane spotrebiteľa pri predaji na diaľku.
          </p>
          <p>Orgánom dozoru je Slovenská obchodná inšpekcia.
            Inšpektorát SOI pre Trenčiansky kraj: Hurbanova 59, 911 01,  Trenčín,
            Odbor výkonu dozoru, tel. č. 032/640 01 09, fax č. 032/640 01 08    
            </p>
            <p>
              <a href="https://www.soi.sk/sk/Podavanie-podnetov-staznosti-navrhov-a-ziadosti.soi">Kontaktujte SOI pomocou formuláru</a><br />
              Spotrebiteľ má možnosť obrátiť sa na orgán alternatívneho riešenia spotrebiteľských sporov, ktorý je (i keď len nezáväzne) oprávnený posudzovať prípadné spory medzi Spotrebiteľom ako zákazníkom a Prevádzkovateľom.

            </p>


          <p>
            Tieto obchodné a reklamačné podmienky nadobúdajú účinnosť voči Kupujúcemu uzavretím Kúpnej zmluvy.
Tieto Všeobecné podmienky nadobúdajú platnosť odo dňa 01.01.2021 a nahrádzajú ich pôvodné znenie, zároveň tiež platia bez časového obmedzenia. Organizátor si vyhradzuje právo na zmenu a doplnenie týchto Všeobecných podmienok v prípade potreby.

          </p>
          <p>
            Kontaktné údaje prevádzkovateľa:
<br /> OSA – ŠPORTOVÁ AKADÉMIA, o.z.
<br />Pod hájom 1097/97
<br />018 41 Dubnica nad Váhom
<br />Slovensko
<br />Tel: +421 903 567 810
<br />Email: info@osaacademy.sk

          </p>
        </div>
      </section>
    </main>
    <%- include('./templates/footer.ejs') -%> <%-
    include('./templates/scripts.ejs') -%>
  </body>
</html>
