<footer class="page-footer py-2">
  <div class="l-page-container">
    <div class="grid-columns-2">
      <section>
        <h2>Kontakt</h2>
        <ul class="contact-list fa-ul">
          <li class="contact-list__item">
            <span class="fa-li"
              ><span class="far fa-envelope fa-lg mr-05"></span
            ></span>
            <a href="mailto:info@osaacademy.sk" class="link link--light"
              >info@osaacademy.sk</a
            >
          </li>
          <li class="contact-list__item">
            <span class="fa-li"
              ><span class="fas fa-phone-alt fa-lg mr-05"></span
            ></span>
            <a href="tel:+421903567810" class="link link--light"
              >+421 903 567 810</a
            >
          </li>
          <li class="contact-list__item">
            <span class="fa-li"
              ><span class="fas fa-map-marker-alt fa-lg mr-05"></span
            ></span>
            Sad Duklianských Hrdinov 88,<br />
            018 51 Nová Dubnica
          </li>
          <li class="contact-list__item">
            <span class="fa-li"
              ><span class="fab fa-facebook-f fa-lg mr-05"></span
            ></span>
            <a
              href="https://www.facebook.com/osasportacademy"
              target="_blank"
              rel="noopener noreferrer"
              class="link link--light"
            >
              Facebook
            </a>
          </li>
          <li class="contact-list__item">
            <span class="fa-li"
              ><span class="fab fa-instagram fa-lg mr-05"></span
            ></span>
            <a
              href="https://www.instagram.com/osasportacademy"
              target="_blank"
              rel="noopener noreferrer"
              class="link link--light"
            >
              Instragram
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h2>Nájdete nás</h2>
        <div class="responsive-google-maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.8221814603735!2d18.136692015495523!3d48.93782860306439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714995569040b21%3A0x847d84224f183381!2sOSA%20FAMILY%20GYM!5e0!3m2!1ssk!2ssk!4v1609070895821!5m2!1ssk!2ssk"
            width="600"
            height="450"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </div>
  </div>
</footer>
<section class="page-bottom py-05">
  <nav>
    <ul class="nav-list nav-list--centered">
      <li class="nav-list__item">
        <a class="nav-list__link nav-list__link--footer" href="/gdpr"
          >Ochrana osobných údajov</a
        >
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link nav-list__link--footer" href="/podmienky"
          >Všeobecné podmienky</a
        >
      </li>
    </ul>
  </nav>
</section>
