<section id="ako-sa-zapojit" class="steps my-4">
  <div class="l-page-container">
    <h2 class="text-center">
      Ako sa zapojiť
      <span class="headline-underline headline-underline--centered"></span>
    </h2>
    <div class="steps__grid">
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">1.</div>
          <h3 class="step-card__headline mb-05">
            Vyber si výzvu, ktorá sa ti páči.
          </h3>
        </div>
        <p class="step-card__text">
          Na výber máš z troch druhov disciplín: bicykel, beh alebo turistika.
          Môžeš si vybrať rôznu obťažnosť, alebo celý balík výziev. Počet
          výziev, ich náročnosť a kombináciu si zvolíš podľa seba.
        </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">2.</div>
          <h3 class="step-card__headline mb-05">
            Zdolaj všetky aktivity vo svojej výzve a nahraj ich do športovej
            aplikácie.
          </h3>
        </div>
        <p class="step-card__text">
          Aktivity môžeš absolvovať kdekoľvek a kedykoľvek. Splň všetky
          podmienky výzvy a zaznamenaj aktivitu do ľubovoľnej športovej
          aplikácie. Odporúčame použiť napr. aplikáciu
          <a class="link link--dark" href="https://www.strava.com">Strava</a>.
        </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">3.</div>
          <h3 class="step-card__headline mb-05">
            Nahraj fotku zo športovej aplikácie aj s údajmi o trase.
          </h3>
        </div>
        <p class="step-card__text">
          Odfoť sa na trase a nahraj fotku na náš web. Je dôležité, aby na fotke
          bolo vidieť záznam o trase (počet kilometrov).
        </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">4.</div>
          <h3 class="step-card__headline mb-05">Čakaj na svoj balík odmien.</h3>
        </div>
        <p class="step-card__text">
          Každá dokončená výzva alebo balík výziev je u nás hodná nielen
          medaily, ale aj odmeny. Veľkosť odmeny je závislá od vybranej výzvy.
          Odmenu pošleme poštou alebo môžeš prísť osobne.
        </p>
      </article>
    </div>
  </div>
</section>
