<section class="steps my-4">
  <div class="l-page-container">
    <h2 class="text-center">
      Podmienky
      <span class="headline-underline headline-underline--centered"></span>
    </h2>
    <div class="steps__grid">
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">1.</div>
          <h3 class="step-card__headline mb-05">
            Úhrada štartovného poplatku
          </h3>
        </div>
          <p class="step-card__text">
            <ul>
              <li>Štartovný poplatok je potrebné uhradiť najneskôr ku dňu ukončenia časového limitu na splnenie výzvy (balíku výziev).</li>
              <li>Ak nebude úhrada pripísaná na účet organizátora, prípadne bude pripísaná po časovom limite bez oznámenia a uvedenia dôvodu, tak má organizátor právo účastníka podujatia diskvalifikovať bez nároku na náhrady.</li>
              <li>Úhrada štartovného veľmi úzko súvisí s logistikou cien, odmien a ich postupným naskladnením. Dodržiavaním pravidiel a časových limitov si nielen včas zabezpečíte svoje odmeny, ale aj nám uľahčíte prácu.</li>
            </ul>
          </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">2.</div>
          <h3 class="step-card__headline mb-05">
            Zdolaj všetky aktivity v časovom limite
          </h3>
        </div>
        <p class="step-card__text">
          Každá výzva, ako aj balík výziev má svoj maximálny časový limit na splnenie. Sledujte si prosím časový limit a dobre naplánujte všetky aktivity. Aj napriek tomu, že sa niektoré výzvy môžu zdať ľahké, tak práve časový limit z nich robí pravú výzvu.
        </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">3.</div>
          <h3 class="step-card__headline mb-05">
            Nahraj údaje o absolvovaní výzvy
          </h3>
        </div>
        <p class="step-card__text">
          Nahraj fotku zo športovej aplikácie spolu s údajmi o počte absolvovaných kilometrov. Ak sa pomýlite pri nahrávaní, kľudne môžete svoju fotku upraviť a nahrať opäť.
        </p>
      </article>
      <article class="step-card">
        <div class="step-card__header">
          <div class="step-card__first-letter mb-05">4.</div>
          <h3 class="step-card__headline mb-05">
            Potvrdenie účasti a výhry
          </h3>
        </div>
        <p class="step-card__text">
          Organizátor ti po kontrole o splnení všetkých podmienok zašle balík odmien spolu s medailou (v prípade balíka s medailami a plaketou). Budeme radi ak nám po doručení pošleš potvrdzujúci mail, sms, či uverejníš príspevok na svojom Instagrame s hashtagom #osavirtualchallenge2021.
        </p>
      </article>
    </div>
  </div>
</section>
